
:root {
    --main-color: rgb(50, 168, 82);
    --main-bg-color:  rgba(0,0,0,.2);
    --border-radius: 1em;
  }

body{
    margin:0;
}

.wrapper {
    margin:0;
    font-style: sans-serif;
    font-weight: 700;
    font-size: 5em;
    color: var(--main-color);
    text-align:right;
}

#clock-div {
    padding: .2em .5em;
    background: var(--main-bg-color);
    display: inline-block;
    line-height: 1;
	border-radius: var(--border-radius);
}
